p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.math {
  font-size: 0.92em;
}

div.tip, div.defn {
  padding: 1em;
  margin: 2em 0;
  padding-left: 60px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 5px center;
  min-height: 60px;
  color: DarkSlateGray;
  background-color: #bed3ec;
}

div.tip {
 background-image: url("zimgs/tip.png");
 background-color: CornSilk;
}

div.defn {
  background-image: url("zimgs/defn.png");
  background-color: HoneyDew;
}

.footnotes {
  font-size: 0.7em;
  line-height: normal;
}

.RCODE {
  line-height: normal;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.ROUTPUT {
  line-height: normal;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.RMESSAGE {
  background-color: Yellow;
  color: Red;
}

.RWARNING {
  background-color: Khaki;
}

.RERROR {
  background-color: Salmon;
}

/* --- Creates images that float to the right or left --- */
.img-right {
   display: inline-block;
   margin: 0px 0px 40px 20px;
   float: right;
   max-width: 200px;
   height: auto;
   border-radius:3%;
}

.img-left {
   display: inline-block;
   margin: 0px 20px 40px 0px;
   float: left;
   width: 200px;
   border-radius:3%;
}
